

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>📰 Personalized News Agent</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body onload="loadTrending()">

<header class="full-width-header">
  <div class="container header-content">
    <h1 class="app-title">📰 Personalized News Agent</h1>
    <button id="darkModeBtn" onclick="toggleDarkMode()">🌙</button>
  </div>
</header>

<div class="trending-marquee-strip">
  <div class="marquee-wrapper">
    <div class="marquee" id="trendingList">
      <div class="marquee-content"></div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">
      <div class="search-bar">
        <input type="text" id="topicInput" placeholder="Enter topic or keyword">
        <button onclick="applyFilters()">Get News</button>

        <div class="filter-dropdown">
          <button class="filter-btn" onclick="toggleFilter()">Filters</button>
          <div class="filter-content" id="filterContent">
            <select id="language">
              <option value="en">English</option>
              <option value="hi">Hindi</option>
              <option value="mr">Marathi</option>
            </select>
            <select id="region">
              <option value="in">India</option>
              <option value="us">US</option>
              <option value="world">World</option>
            </select>
            <select id="category">
              <option value="">Any Category</option>
              <option value="business">Business</option>
              <option value="sports">Sports</option>
              <option value="technology">Technology</option>
              <option value="health">Health</option>
            </select>
            <select id="dateRange">
              <option value="">Anytime</option>
              <option value="today">Today</option>
              <option value="week">Past Week</option>
            </select>
          </div>
        </div>
      </div>

      <div id="newsContainer"></div>
  </div>
</div>

<script src="/static/script.js"></script>
<footer>
  <p>Developed by Aishwarya Patil</p>
</footer>


</body>
</html>